/* Planner */
.planner-container {
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.glass-card {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    padding: 40px 50px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
    max-width: 1000px;
    z-index: 1;
}
.planner-card-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.planner-card-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Modal Styling */
.modal-content {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 100%;
    overflow: auto;
}
.planner-modal .modal-dialog {
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    border-radius: 15px;
}

.planner-modal .modal-header {
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    color: white;
}
.modal-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.planner-modal .modal-body {
    padding: 15px;
    line-height: 1.6;
    color: white;
    background: rgba(0, 0, 0, 0.14);
    border-radius: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.rectangular-mcq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.rectangular-mcq-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: border-color 0.3s ease;
}
.rectangular-mcq-label.selected {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 3px 2px #00ffa2;
}
.rectangular-mcq-option {
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    backdrop-filter: blur(10px);
}
.mcq-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.expand-icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s background-color;
}
.expand-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.flight-details-collapse {
    margin: 10px 0;
    display: none;
}
.sunken-flight-detail {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin: 5px 0;
}
.sunken-flight-detail h5:after {
    content: "";
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    padding-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
.hotel-details-collapse {
    display: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.modal-submit-button {
    text-decoration: none;
    color: #00ffa2;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: none; 
    transition: all 0.2s ease;
    position: relative; 
    display: block;
    margin: 20px auto 10px;
    padding: 10px 20px;
}
.modal-submit-button:hover {
    text-decoration: none;
    background-color: rgba(0, 255, 162, 0.1);
    transition: all 0.2s ease;
}
.modal-body input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
.flight-detail-label {
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
}
.flight-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.flight-detail span {
    margin-bottom: 5px;
}
.flight-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight-price {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.flight-price-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
}
.hotel-card {
    width: 100%;
}
.hotel-title, .activities-title, .restaurant-title {
    text-align: left;
}
.rectangular-mcq-label:last-child {
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
.full-width label {
    display: block;
    width: 100%;
}
.left-align {
    text-align: left;
}

.hidden-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }