/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(125deg, #3c4354, #0b1020);}
.navbar-nav .nav-link, .navbar-brand {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: bold;
}
.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: #2A3B5A;
    background-color: #a2bfcf;
    border-radius: 5px;
}
.navbar-brand {
    padding: 5px;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn-global-outline {
    text-decoration: none;
    color: #00ffa2;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.03);
    padding: 8px 13px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: none; 
    transition: all 0.2s ease;
    position: relative; 
}
.btn-global-outline:hover {
    text-decoration: none;
    background-color: rgba(0, 255, 162, 0.1);
    transition: all 0.2s ease;
}

/* Chat */
.chat-page body, .chat-page html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.chat-container {
    background-color: #394867;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 0px 20px black;
    max-width: 1000px;
    margin: 0px auto 0 auto;
    min-height: calc(100vh - 200px); 
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
}
#chatbox {
    height: calc(100vh - 235px);
    overflow-y: auto;
    flex-grow: 1;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.chat-entry-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.chat-logo {
    line-height: 1.5;
    font-size: 24px;
    margin-right: 2%;
    padding: 15px;
    align-self: center;
}
.chat-entry {
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    text-align: left;
    color: #fff;
    padding-left: 0%;
    padding-right: 5%;
}
.user-message {
    background-color: transparent;
    text-align: right;
    padding: 15px;
    width: 100%;
    padding-left: 0%;
    padding-right: 7%;
}
.moon-logo {
    line-height: 1.5;
    font-size: 24px;
    margin-right: 2%;
    align-self: center;
}
#userInput {
    background-color: #394867;
    padding: 15px;
    width: 1000px;
    border-top: 2px solid #212A3E;
    display: flex;
    align-items: center;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#userInput textarea {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    flex-grow: 1;
    margin-right: 10px;
}
#userMessage {
    background-color: transparent;
    color: #fff;
    border: none;
    width: calc(100% - 100px);
    padding: 10px;
    resize: none;
}
.button-container {
    display: flex;
}
.button-container > .btn-middle-container {
    width: 30%;
    text-align: center;
}
.btn-send {
    margin-left: auto;
}
.btn-icon {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 7.5px;
}
#chatbox::-webkit-scrollbar {
    width: 0px;
}
.btn-icon:hover {
    color: #00ffa2;
}
.close:hover {
    color: #00ffa2;
    cursor: pointer;
}
.find-flights-modal .modal-content {
    background-color: #212A3E;
    color: white;
    border: 0px solid white;
    border-radius: 15px;
    width: 100%;
    height: 800px;
    box-shadow: 0 4px 40px black;
}
.find-flights-modal .modal-dialog {
    max-width: 1000px;
}
.find-flights-modal .modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}
.clickable-box {
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.find-flights-text {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* Home */
.home-title-container {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px; /* New margin added */
    border-radius: 15px;
    padding: 20px 30px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white; /* Font color changed to white */
}
.home-title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3rem;
}
.home-subheader {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}
.home-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.home-card {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 15px;
    padding: 20px 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    width: 18rem;
    color: white;
    margin: 20px;
    padding-bottom: 60px;
    position: relative; 
}
.home-card a {
    text-decoration: none;
    color: #00ffa2;
    font-weight: bold;                      
    background: rgba(255, 255, 255, 0.03); 
    padding: 5px 10px;                     
    border-radius: 10px;                    
    backdrop-filter: blur(10px);
    position: absolute;                     
    bottom: 25px;                           
    left: 50%;                              
    transform: translateX(-50%);            
}
.home-card a:hover {
    text-decoration: none;  
    transition: all 0.2s ease;               
    background-color: rgba(0, 255, 162, 0.1);  
}

/* Planner */
.planner-container {
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.glass-card {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    padding: 40px 50px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    width: 80%;  
    height: auto;
    margin: auto;
    position: relative;
    max-width: 1000px;
    z-index: 1;
}
.planner-card-title {
    font-size: 2rem;
    margin-bottom: 20px;
}
.planner-card-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.btn-primary {
    margin: 10px 20px; 
    transition: transform 0.3s;
}
.btn-primary:hover {
    transform: scale(1.03);
}
.modal-header {
    background-color: #007bff;
    color: #ffffff;
    padding: 25px;
}
.modal-title {
    font-size: 24px;
}
.modal-body {
    color: #333333;
    padding: 15px;
    line-height: 1.6;
}
.planner-modal .modal-dialog {
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    
}
.planner-modal .modal-header {
    padding: 15px; 
}
.planner-modal .modal-body {
    padding: 15px;
    line-height: 1.6; 
}
.rectangular-mcq-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.rectangular-mcq-label input {
    display: none
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 150px;
    background-color: #e0d6d6;
    border-radius: 2px;
}
/* On mouse-over, add a grey background color */
.rectangular-mcq-label:hover input ~ .checkmark {
    background-color: #9d9999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* When the radio button is checked, add a blue background */
.rectangular-mcq-label input:checked ~ .checkmark {
    background-color: #3498db;
    height: 2px;
}
.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}
.submit-button:hover {
    background-color: #2980b9;
}
.rectangular-mcq-label {
    display: inline-block;
    width: 1000px;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 25px;
}
.rectangular-mcq-option:checked + .rectangular-mcq-label {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}
.mcq-text {
    font-weight: bold;
}
.mcq-subtext-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.mcq-subtext-left {
    float: left;
}
.mcq-subtext-right {
    float: right;
}
.mcq-subtext-middle {
    float: none;
}

/* Login & Sign-up*/
.card {
    background: rgba(255, 255, 255, 0.03); /* Glass effect background */
    border-radius: 15px; /* Rounded edges */
    backdrop-filter: blur(20px); /* Blur effect */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Shadow effect */
}
.card h3 {
    color: #ffffff;
    margin-bottom: 20px;
}
h3.text-center {
    margin-bottom: 25px;
}
.card label {
    color: #ffffff;
}
.form-control {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
}
.form-control:focus {
    outline: none;
    color: #bdbdbd;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.08);
}
/* Signup */