{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="chat-container">
    <!-- Chatbox -->
    <div id="chatbox">
        {% for entry in chat_log %}
        <div class="chat-entry-container" style="{% if entry.type == 'user' %}background-color: #212A3E{% else %}background-color: #394867{% endif %};">
            <div class="chat-logo {% if entry.type == 'user' %}moon-logo{% endif %}">{% if entry.type == 'user' %}😎{% else %}🤓{% endif %}</div>
            <div class="chat-entry {% if entry.type == 'user' %}user-message{% else %}response-message{% endif %}">
                {{ entry.data }}
            </div>
        </div>
        {% endfor %}

    </div>

    <form action="{{ url_for('chat.flights') }}" method="get">
        <button style="display: none;" type="submit" class="btn-icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-plane" id="flight_button"></i></button>
    </form>

    <!-- Message Box & Button -->
    <form method="POST" id="message-form">
        <div id="userInput">
            <textarea name="note" id="userMessage" placeholder="Type a message..." class="form-control"></textarea>
            <div class="text-center button-container">
                <button type="button" class="btn-icon" onClick="startNewConversation()"><i class="fa fa-refresh"></i></button>
                <label style="font-size: 1.8em;" for="flight_button" class="btn-icon" data-toggle="modal" data-target="#myModal"><i class="fa fa-plane" id="flight_button"></i></label>

                <button id="sendButton" type="submit" class="btn-icon btn-send"><i class="fa fa-paper-plane"></i></button>
                <!-- Enter to submit -->
                <script>
                    document.getElementById('userMessage').addEventListener('keydown', function(event) {
                        if (event.key === 'Enter' && !event.shiftKey) {
                            event.preventDefault();
                            document.getElementById('sendButton').click();
                        }
                    });
                </script>
            </div>
        </div>
    </form>

    
    
    
</div>
    
<!-- Automatic scroll -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var chatbox = document.getElementById('chatbox');
        chatbox.scrollTop = chatbox.scrollHeight;
    });
</script>

<div class="container mt-5 text-center">

    <div class="modal fade find-flights-modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Flights</h4>
            </div>

            <div class="modal-body ">
                <div class="clickable-box" onclick="alert('You clicked the box!')">
                    <p class="find-flights-text">Jit da Jit da Jittison Jitling Jitmuangnon</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-global-outline" data-dismiss="modal">Close</button>
            </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}