{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 align="center" style="margin-block: 10px;">AlgoNavigator</h1>

    <!-- Chatbox -->
    <div id="chatbox" style="height: 50vh; width: 100%; border: 1px solid #aeaeae; overflow: auto;">
        {% for note in user.notes %}
            <div class="chat-entry">
                {{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <!-- Message Box & Button -->
    <form method="POST">
        <div id="userInput" style="margin-top: 10px;">
            <textarea name="note" id="userMessage" placeholder="Type a message..." class="form-control"></textarea>
            <center>
                <button type="submit" style="margin-top: 10px" class="btn btn-primary">Send</button>
                <span style="margin-left: 5px;"></span> <!-- Add a small space here -->
                <button type="button" style="margin-top: 10px" class="btn btn-primary" onClick="deleteAllChats()">Start New Conversation</button>

            </center>
        </div>
    </form>

    <form action="{{ url_for('chat.test') }}" method="get">
        <button type="submit">Click me!</button>
    </form>

    <script src="/static/functions.js"></script>

    <style>
        .chat-entry {
            border-bottom: 1px solid #cac6c6;
            padding: 10px;
        }
    </style>

    <script>
        function deleteAllChats() {
            // Clear the chatbox HTML content
            var chatbox = document.getElementById("chatbox");
            chatbox.innerHTML = "";
        }
    </script>
{% endblock %}
