{% extends "base.html" %}

{% block title %}Planner{% endblock %}

{% block content %}
<div class="planner-container">
  <div class="glass-card">
    <h2 class="planner-card-title">Plan Your Dream Trip</h2>
    <p class="planner-card-text">
      Get ready for an exciting adventure! Use our handy planner tool to create your perfect trip itinerary.
    </p>
    <a href="#" class="btn-global-outline" data-toggle="modal" data-target="#tripModal1">View Trip Options</a>
    <a href="/chat" class="btn-global-outline">Create your Dream Trip</a>
  </div>
</div>

<!-- Modal 1 -->
<div class="modal fade planner-modal" id="tripModal1" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="tripModalLabel1">Trip Details for {country}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- MCQ for selecting which flight -->
        <form action="{{ url_for('my_plan.my_plans') }}" method="post">
          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-flight" value="Flight 1" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Flight 1 ({{ travel_dict["flight1"].departure_date }} to {{ travel_dict["flight1"].return_date }})</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight1"].first_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight1"].first_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].first_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].first_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].first_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight1"].second_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight1"].second_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].second_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].second_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight1"].second_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight1"].first_airline }} & {{ travel_dict["flight1"].second_airline }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight1"].first_cost + travel_dict["flight1"].second_cost }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>
          
          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-flight" value="Flight 2" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Flight 2 ({{ travel_dict["flight2"].departure_date }} to {{ travel_dict["flight2"].return_date }})</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight2"].first_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight2"].first_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].first_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].first_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].first_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight2"].second_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight2"].second_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].second_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].second_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight2"].second_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight2"].first_airline }} & {{ travel_dict["flight2"].second_airline }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight2"].first_cost + travel_dict["flight2"].second_cost }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>
          
          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-flight" value="Flight 3" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Flight 3 ({{ travel_dict["flight3"].departure_date }} to {{ travel_dict["flight3"].return_date }})</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight3"].first_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight3"].first_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].first_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].first_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px">-----></div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].first_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight3"].second_departure_airport }}</div>
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["flight3"].second_arrival_airport }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].second_departure_time }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].second_duration }}</div>
                <div class="mcq-subtext" style="font-size: 15px"><-----</div>
                <div class="mcq-subtext" style="font-size: 15px">{{ travel_dict["flight3"].second_arrival_time }}</div>
              </div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight3"].first_airline }} & {{ travel_dict["flight3"].second_airline }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["flight3"].first_cost + travel_dict["flight3"].second_cost }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-hotel" value="Hotel 1" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Hotel 1</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["hotel1"].location }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel1"].rating }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel1"].price }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-hotel" value="Hotel 2" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Hotel 2</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["hotel2"].location }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel2"].rating }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel2"].price }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="rectangular-mcq-container">
            <label class="rectangular-mcq-label">
              <input type="radio" name="mcq-option-hotel" value="Hotel 3" class="rectangular-mcq-option">
              <div class="mcq-text" style="font-size: 25px">Hotel 3</div>
              <div class="mcq-subtext-container">
                <div class="mcq-subtext" style="font-size: 20px">{{ travel_dict["hotel3"].location }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel3"].rating }}</div>
                <div class="mcq-subtext" style="font-size: 17px">{{ travel_dict["hotel3"].price }}</div>
              </div>
              <span class="checkmark"></span>
            </label>
          </div>

          <div>
            <label>
              <div class="mcq-text" style="font-size: 25px">Activities</div>
              <input type="text" name="text-option-activities" value="{{ travel_dict["activities"] }}" class="rectangular-mcq-option">
            </label>
          </div>

          <div>
            <label>
              <div class="mcq-text" style="font-size: 25px">Restaurants</div>
              <input type="text" name="text-option-restaurants" value="{{ travel_dict["restaurants"] }}" class="rectangular-mcq-option">
            </label>
          </div>

          <button type="submit" class="submit-button">Submit</button>
        </form>

        <script>
          // JavaScript to handle selection
          const mcqOptions = document.querySelectorAll('.rectangular-mcq-option');
      
          mcqOptions.forEach(option => {
            option.addEventListener('click', () => {
              mcqOptions.forEach(o => o.classList.remove('selected'));
              option.classList.add('selected');
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
