{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <!-- POST request for our forms on the sign up page -->
    <h3 align="center">Login</h3>
    <!-- Email -->
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email"
            placeholder="Enter email"
        />
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password"
        />
    </div>
    <br />
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}